/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require bootstrap
*= require font-awesome.min
*= require stylish-portfolio
*= require basic.min
*= require dropzone.min
*= require bootstrapselect/bootstrap-select.min
*= require alerts
*= require loader
*= require_self
*/

.bgcm-gradient {
    background-color: #d5772f;
    background-image: linear-gradient(to right, #6F2A3F 0%, #821616 33%, #D5772F 66%, #CB9D48 100%); /* W3C Markup */
    background-image: -moz-linear-gradient(left, #6F2A3F 0%, #821616 33%, #D5772F 66%, #CB9D48 100%); /* Mozilla Firefox */
    background-image: -ms-linear-gradient(left, #6F2A3F 0%, #821616 33%, #D5772F 66%, #CB9D48 100%); /* IE10+ */
    background-image: -o-linear-gradient(left, #6F2A3F 0%, #821616 33%, #D5772F 66%, #CB9D48 100%); /* Opera */
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #6F2A3F), color-stop(33, #821616), color-stop(66, #D5772F), color-stop(100, #CB9D48)); /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-linear-gradient(left, #6F2A3F 0%, #821616 33%, #D5772F 66%, #CB9D48 100%); /* Webkit (Chrome 11+) */
}

.form-group .dropzone {
    width: 230px;
    height: 200px;
    margin: auto;
    border: dashed 0.1em;
    margin: auto;
    text-align: center;
}
.form-group .dropzone .dz-image-preview {
    width: 100%;
    height: 100%;
    margin: auto;
}
.form-group .dropzone .dz-image-preview img {
    width: 100px;
    height: 100px;
}
.form-group .dropzone .dz-filename {
    display: none;
}

.user-card,
.club-card,
.game-card {
    min-height: 70px;
    background-color: #f6f6f6;
    border: 3px solid #d5772f;
    border-radius: 10px;
    color: #333;
    margin-bottom: 10px;
    padding: 10px;
}
.user-card {
    border-color: #3c8dbc;
}
.user-card.user-card-admin {
    border-color: #001f3f;
}
.club-card {
    border-color: #3d9970;
}
.game-card {
    border-color: #f39c12;
}
.user-card img,
.club-card img,
.game-card img {
    height: 80px;
    width: 80px;
    border: 3px solid #d5772f;
}
.user-card img {
    border-color: #3c8dbc;
}
.user-card.user-card-admin img {
    border-color: #001f3f;
}
.club-card img {
    border-color: #3d9970;
}
.game-card img {
    border-color: #f39c12;
}
.user-card .name {
    font-size: 1.5em;
}
.club-card .name {
    font-size: 1.2em;
}
.user-card.selected,
.club-card.selected {
    background-color: #acacac;
    color: #f6f6f6;
}

.pagination > a,
.pagination > span {
    position: relative;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    text-decoration: none;
    background-color: #fff;
    color: #d5772f;
    border: 1px solid #d5772f;
}
.pagination > a.disabled,
.pagination > span.disabled {
    color: #8f8f8f;
    border: 1px solid #8f8f8f;
    cursor: not-allowed;
}
.pagination a:first-child,
.pagination span:first-child {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.pagination a:last-child,
.pagination span:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.pagination > a:hover:not(.disabled),
.pagination > span:hover:not(.disabled),
.pagination > a:focus:not(.disabled),
.pagination > span:focus:not(.disabled) {
    z-index: 2;
    background-color: #53646b;
    color: #fff;
}
.pagination > span.currentStep,
.pagination > span.currentStep:hover,
.pagination > span.currentStep:focus {
    z-index: 3;
    cursor: default;
    background-color: #1e282c;
    color: #fff;
}
.box-tools.pagination {
    margin: 10px 0;
}

.leaflet-container {
    height: 470px;
}
@media (max-width: 767px) {
    .leaflet-container {
        height: 310px;
    }
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.date > input {
    cursor: pointer;
}

.announcement-block,
.poll-block,
.event-block,
.table-block {
    margin-right: 40px;
}
.announcement-block:before,
.announcement-block:after,
.poll-block:before,
.poll-block:after,
.event-block:before,
.event-block:after,
.table-block:before,
.table-block:after {
    content: " ";
    display: table;
}
.announcement-block:after,
.poll-block:after,
.event-block:after,
.table-block:after {
    clear: both;
}
.event-block .attendee {
    width: 35px;
    height: 35px;
    float: left;
    font-size: 30px;
}
.announcement-block .title,
.announcement-block .datePublish,
.poll-block .title,
.poll-block .datePublish,
.event-block .title,
.event-block .datePublish,
.table-block .title,
.table-block .maxCapacity {
    display: block;
}
.announcement-block .title,
.poll-block .title,
.event-block .title,
.table-block .title {
    color: #444;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}
.announcement-block .datePublish,
.poll-block .datePublish,
.event-block .datePublish,
.table-block .maxCapacity {
    color: #999;
    font-size: 13px;
}
.announcement-block.announcement-block-sm .title,
.poll-block.poll-block-sm .title,
.event-block.event-block-sm .title {
.table-block.table-block-sm .title,
    font-size: 14px;
}
.announcement-block .title.read,
.poll-block .title.voted {
    opacity: 0.5;
}

.game-image {
    width: 200px;
    margin-right: 5px;
}