#loaderContainer {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 5000;
    background: rgba(0, 0, 0, 0.5);
}

.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    color: #000000;
}